/* ==========================================================================
   Mixins
   ========================================================================== */

/* Breakpoints */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1299px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 700px)  { @content; }
  }
}


/* ==========================================================================
   Variables
   ========================================================================== */

/* Fonts */
$font-merriweather: 'Merriweather', serif;
$font-sourcesans: 'Source Sans Pro', sans-serif;

/* Colours */
$brand-red: #e46c62;


/* ==========================================================================
   Global
   ========================================================================== */

*, *:before, *:after {
	box-sizing: border-box;
}

.button {
  display: block;
  font-family: $font-sourcesans;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #4cb2e8;
  padding: 1.1em;
  border-radius: 4px;
  text-align: center;

  @include breakpoint(medium) {
    display: inline-block;
  }
}


/* ==========================================================================
   Typography
   ========================================================================== */

body {
	font-family: $font-merriweather;
}

h1 {
  font-family: $font-sourcesans;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 1.625em;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: $font-sourcesans;
  text-transform: uppercase;
  font-size: 2.125em;
  margin: 0 0 0.4em 0;
  color: lighten($brand-red, 12%);

  @include breakpoint(medium) {
    font-size: 3.125em;
  }
}

p {
  font-size: 1em;
  line-height: 1.65;
  color: #909090;
  margin-bottom: 2em;

  a {
    color: #56b0ec;
  }

  @include breakpoint(medium) {
    font-size: 1.125em;
  }
}

nav {
  font-family: $font-sourcesans;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: #cc9b96;
    font-size: 0.8em;

    &:hover {
      color: lighten($brand-red, 5%);
    }
  }

  @include breakpoint(medium) {
    a {
      font-size: 1.2em;
    }
  }
}


/* ==========================================================================
   General
   ========================================================================== */

body {
  background-color: #dde4ec;

  @include breakpoint(medium) {
    &.sticky {
      margin-top: 94px;
    }
  }
}

.content-wrap {
  max-width: 1800px;
  margin: 0 auto;
  background-color: #fff;
}

.main-header {
  background-color: $brand-red;

  @include breakpoint(medium) {
    background: $brand-red url(../images/surroundings-group-header.jpg) no-repeat right 45%;
    background-size: 65%;   
  }
}

.logo {
  width: 100%;
  padding: 5%;

  .surroundings-logo {
    display: block;
    background: url(../images/surroundings-logo.svg) no-repeat;
    background-size: 100%;
    width: 38%;
    height: 0;
    padding-bottom: 45%;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    width: 35%;

    .surroundings-logo {
      width: 58%;
      padding-bottom: 68%;
    }
  }
}

.main-nav {
  background-color: lighten($brand-red, 32%);
  padding: 1em;
  text-align: center;

  .menu {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 0.5em;

      &.active {
        a {
          color: red;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include breakpoint (medium) {
    padding: 2.2em 4em;
    text-align: left;

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 100;
    }

    .menu {
      li {
        margin-left: 1.2em;
      }
    }
  }
}

.content {
  padding: 2em;

  > div {
    padding-top: 1.5em;
    margin-bottom: 2em;
    border-top: 1px solid lighten($brand-red, 30%);

    &:first-child {
      padding-top: 0;
      border: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(medium) {
    padding: 4em;

    > div {
      padding-top: 3em;
      margin-bottom: 4em;
    } 
  }
}

.albums {
  padding: 0;

  li {
    display: inline-block;
    margin-bottom: 4em;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
      font-family: $font-sourcesans;
      color: $brand-red;
      font-size: 0.8em;
    }
  }

  .obbac {
    width: 150px;
    height: 0;
    padding-top: 155px;
    background: url(../images/obbac-artwork.jpg) no-repeat;
    background-size: 100%;
  }

  .otd {
    @extend .obbac;
    background-image: url(../images/otd-artwork.jpg);
  }

  @include breakpoint(medium) {
    li {
      margin-left: 2em;
    }
  }
}

.youtube {
  position: relative;
  width: 100%;
  margin-top: 2em;
  padding-bottom: 60%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.photoshoot {
  padding: 0;
  margin-bottom: 2.5em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 0 1% 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .image-01 {
    background: url(../images/shoot-1.jpg);
    background-size: cover;
    width: 48%;
    height: 0;
    padding-bottom: 31.8%;
  }

  .image-02 {
    @extend .image-01;
    background: url(../images/shoot-2.jpg);
    background-size: cover;
  }

  .image-03 {
    @extend .image-01;
    background: url(../images/shoot-3.jpg);
    background-size: cover;
  }

  .image-04 {
    @extend .image-01;
    background: url(../images/shoot-4.jpg);
    background-size: cover;
  }

  @include breakpoint(medium) {
    .image-01 {
      width: 23.9%;
      padding-bottom: 15.8%;
    }
  }
}

.contact {
  strong {
    display: block;
  }
}