/* ==========================================================================
   Mixins
   ========================================================================== */

/* Breakpoints */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1299px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 700px)  { @content; }
  }
}


/* ==========================================================================
   Variables
   ========================================================================== */

/* Fonts */
$font-merriweather: 'Merriweather', serif;
$font-sourcesans: 'Source Sans Pro', sans-serif;


/* ==========================================================================
   Global
   ========================================================================== */

*, *:before, *:after {
	box-sizing: border-box;
}


/* ==========================================================================
   Typography
   ========================================================================== */

body {
	font-family: $font-merriweather;
}