/* ==========================================================================
   Mixins
   ========================================================================== */

/* Breakpoints */
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 700px)  { @content; }
  }
}


/* ==========================================================================
   Variables
   ========================================================================== */

/* Fonts */
$font-merriweather: 'Merriweather', serif;
$font-sourcesans: 'Source Sans Pro', sans-serif;

/* Colours */
$brand-red: #e46c62;
$nav: #cfd9de;
$facebook-blue: #3B5998;
$twitter-blue: #55acee;
$soundcloud-orange: #f45d1f;
$rdio-blue: #007dc3;
$instagram-blue: #517fa4;

/* ==========================================================================
   Global
   ========================================================================== */

*, *:before, *:after {
	box-sizing: border-box;
}

.button {
  display: block;
  font-family: $font-sourcesans;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #4cb2e8;
  padding: 1.1em;
  border-radius: 4px;
  text-align: center;
  font-size: 0.8em;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#4cb2e8, 10%);
  }

  @include breakpoint(medium) {
    display: inline-block;
    font-size: 1em;
  }
}


/* ==========================================================================
   Typography
   ========================================================================== */

body {
	font-family: $font-merriweather;
}

h1 {
  font-family: $font-sourcesans;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 1.625em;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: $font-sourcesans;
  text-transform: uppercase;
  font-size: 2.125em;
  margin: 0 0 0.4em 0;
  color: lighten($brand-red, 8%);

  @include breakpoint(medium) {
    font-size: 3.125em;
  }
}

h3 {
  font-family: $font-sourcesans;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0 0 0.6em 0;
  color: lighten($brand-red, 8%);

  @include breakpoint(medium) {
    font-size: 1.6em;
  }
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #909090;
  margin-top: 0;
  margin-bottom: 2em;

  a {
    color: #56b0ec;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#56b0ec, 10%);
    }
  }

  @include breakpoint(medium) {
    font-size: 1.125em;
  }
}

.copy {
  font-size: 0.8em;
  margin: 0;
}

nav {
  font-family: $font-sourcesans;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: darken($nav, 20%);
    font-size: 0.8em;

    &:hover {
      color: lighten($brand-red, 5%);
    }
  }

  @include breakpoint(medium) {
    a {
      font-size: 1.2em;
    }
  }
}


/* ==========================================================================
   General
   ========================================================================== */

body {
  background-color: #dde4ec;

  @include breakpoint(medium) {
    &.sticky {
      margin-top: 94px;
    }
  }
}

.content-wrap {
  max-width: 1800px;
  margin: 0 auto;
  background-color: #fff;
}

.main-header {
  background-color: $brand-red;

  @include breakpoint(medium) {
    background: $brand-red url(../images/optimised/surroundings-group-header.jpg) no-repeat right 45%;
    background-size: 65%;   
  }
}

.logo {
  width: 100%;
  padding: 5%;

  .surroundings-logo {
    display: block;
    background: url(../images/optimised/surroundings-logo.svg) no-repeat;
    background-size: 100%;
    width: 38%;
    height: 0;
    padding-bottom: 45%;
    margin: 0 auto;
  }

  @include breakpoint(medium) {
    width: 35%;

    .surroundings-logo {
      width: 58%;
      padding-bottom: 68%;
    }
  }
}

.main-nav {
  background-color: lighten($nav, 10%);
  padding: 1em;
  text-align: center;

  .menu {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 0.5em;

      &.active {
        a {
          color: lighten($brand-red, 5%);
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include breakpoint (medium) {
    padding: 2.2em 4em;
    text-align: left;

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 100;
    }

    .menu {
      li {
        margin-left: 1.2em;
      }
    }
  }
}

.content {
  padding: 2em;

  > div {
    padding-top: 1.5em;
    margin-bottom: 2em;
    border-top: 1px solid lighten($brand-red, 30%);

    &:first-child {
      padding-top: 0;
      border: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(medium) {
    padding: 4em;

    > div {
      padding-top: 3em;
      margin-bottom: 4em;
    } 
  }
}

.albums {
  padding: 0;

  li {
    display: inline-block;
    margin-bottom: 4em;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
      font-family: $font-sourcesans;
      color: $brand-red;
      font-size: 0.8em;
    }
  }

  .obbac {
    width: 150px;
    height: 0;
    padding-top: 155px;
    background: url(../images/optimised/obbac-artwork.jpg) no-repeat;
    background-size: 100%;
  }

  .otd {
    @extend .obbac;
    background-image: url(../images/optimised/otd-artwork.jpg);
  }

  @include breakpoint(medium) {
    li {
      margin-left: 2em;
    }
  }
}

.youtube {
  position: relative;
  width: 100%;
  margin-top: 2em;
  padding-bottom: 60%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.downloads {
  .download {
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
    width: 50%;
    overflow: hidden;

    &:hover span, &:hover:before {
      opacity: 1;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(76,178,232,0.85);
      transition: 0.3s ease;
      z-index: 10;
    }

    span {
      font-family: $font-sourcesans;
      font-size: 1em;
      line-height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      transition: 0.3s ease;
      z-index: 20;
    }
  }

  @include breakpoint(medium) {
    .download {
      margin-bottom: 3.5em;
      width: auto;

      span {
        font-size: 1.4em;
      }
    }
  }
}

.photoshoot {
  padding: 0;
  margin-bottom: 2.5em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 0 1% 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .image-01 {
    background: url(../images/optimised/shoot-1.jpg);
    background-size: cover;
    width: 48%;
    height: 0;
    padding-bottom: 31.8%;
  }

  .image-02 {
    @extend .image-01;
    background: url(../images/optimised/shoot-2.jpg);
    background-size: cover;
  }

  .image-03 {
    @extend .image-01;
    background: url(../images/optimised/shoot-3.jpg);
    background-size: cover;
  }

  .image-04 {
    @extend .image-01;
    background: url(../images/optimised/shoot-4.jpg);
    background-size: cover;
  }

  @include breakpoint(large) {
    .image-01 {
      width: 23.9%;
      padding-bottom: 15.8%;
    }
  }
}

.contact {
  strong {
    display: block;
  }
}

.main-footer {
  text-align: center;
  padding-bottom: 1em;
}

.social {
  padding: 0 0 2em 0;
  margin: 0;

  li {
    display: inline-block;
    margin-left: 0.4em;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
  }

  .facebook {
    background-color: $facebook-blue;
    background-image: url(../images/optimised/facebook.svg);
  }

  .instagram {
    background-color: $instagram-blue;
    background-image: url(../images/optimised/instagram.svg);
  }

  .twitter {
    background-color: $twitter-blue;
    background-image: url(../images/optimised/twitter.svg);
  }

  .soundcloud {
    background-color: $soundcloud-orange;
    background-image: url(../images/optimised/soundcloud.svg);
  }

  .rdio {
    background-color: $rdio-blue;
    background-image: url(../images/optimised/rdio.svg);
  }

  @include breakpoint(medium) {
    li {
      margin-left: 1em;
    }
  }
}